.custom-bg-70 {
    background-color: rgb(70, 70, 70);
}

.txtWhite {
    color: rgb(200, 200, 200);
}

.name-box {
    background-color: rgb(100, 100, 100, .8);
    padding: 3px;
    border-radius: 3px;
}

.image-padding {
    margin-bottom: 40px;
    margin-left: 20px;
    padding: 2px;
}

.main {
    margin: 5%;
    margin-right: 40%;
    padding: 10px;
    border-radius: 3px;
    align-content: center;
    background-color: rgb(100, 100, 100, .8);
}

.lens {
    height: 100%;
    width: 100%;
    background-color: rgb(70, 70, 70, .6);
    z-index: 1;
}

.background-image {
    background-image: url(./assets/background_pattern.png)
}